<div class="row">
    <div class="panel-btn">
        <a ng-click="toggleDetailPanelMax()"
                title="亲，按Esc能快速关闭窗口哦！"><span class="glyphicon glyphicon-remove"></span></a>
    </div>

    <tabset class="col-md-12" greedy-eat-height="120">
        <tab heading="基本信息">
            <div class="order-detail-flow-box" ng-include="templates.detailBasicInfo"></div>
        </tab>
        <tab heading="发货信息">
            <div class="order-detail-flow-box" ng-include="templates.detailFullInfo"></div>
        </tab>
        <tab heading="支付信息">
            <div class="order-detail-flow-box" ng-include="templates.detailPayInfo"></div>
        </tab>
        <tab heading="配送信息{{$first?'':'-'+($index+1)}}" ng-repeat="shipment in shipments">
            <div class="order-detail-flow-box" ng-include="templates.detailShipmentInfo"></div>
        </tab>
        <tab heading="订单评论" >
            <div class="order-detail-flow-box" ng-include="templates.detailComments"></div>
        </tab>
    </tabset>
</div>

<!--
<div class="info" ng-if="currOrder == null">
    <div class="text">
        <h4>请点击订单编号选择订单</h4>
    </div>
</div>
-->
